NEXT_PUBLIC_APP_NAME='Dashboard Kinerja'
NEXT_PUBLIC_APP_DESCRIPTION='This is a Dashboard Kinerja'
NEXT_PUBLIC_APP_URL='http://localhost:3000'

NEXT_PUBLIC_API_URL='https://apidashboard.pekanbaru.go.id'
NEXT_PUBLIC_API_WILAYAH='https://superapp-api.pekanbaru.go.id'
#AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="chj2BkfZ9CM37lgnLEORkaNj7GakzY1EJouC7uNF+EI="

#Security
PORT=3000
ARCJET_KEY='arcjet-key-2025'

#Demo
NEXT_PUBLIC_API_URL_PAJAK='https://core-api.bapenda.pekanbaru.go.id'
NEXT_PUBLIC_TOKEN_PAJAK='MI3dEnOEvx0vj6vmjpJTVoJNxQH7ACRV'

NEXT_PUBLIC_SPEED_LIDER=5000
NEXT_PUBLIC_DUMMY_AUTH=false
NEXT_PUBLIC_DUMMY_EMAIL=Walikota@pekanbaru.go.id
NEXT_PUBLIC_DUMMY_PASSWORD=PekanbaruAman123