NEXT_PUBLIC_APP_NAME='Dashboard Kinerja'
NEXT_PUBLIC_APP_DESCRIPTION='This is a Dashboard Kinerja'
NEXT_PUBLIC_APP_URL='http://localhost:3000'

NEXT_PUBLIC_API_URL='http://localhost:8000'
NEXT_PUBLIC_API_WILAYAH='https://superapp-api.pekanbaru.go.id'
#AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="chj2BkfZ9CM37lgnLEORkaNj7GakzY1EJouC7uNF+EI="

#Security
PORT=3000
ARCJET_KEY='arcjet-key-2025'